<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PubgTriggr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PubgTriggr.Properties.Settings>
            <setting name="redReference" serializeAs="String">
                <value />
            </setting>
            <setting name="whiteReference" serializeAs="String">
                <value />
            </setting>
            <setting name="rectRedKill" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="rectRedKillNumber" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="rectTopKillNumber" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="rectKillMessage" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ColorThreshold" serializeAs="String">
                <value>105</value>
            </setting>
            <setting name="rectPeopleAlive" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="OBSRemoteAdress" serializeAs="String">
                <value>ws://127.0.0.1:4444</value>
            </setting>
            <setting name="OBSRemotePassword" serializeAs="String">
                <value />
            </setting>
        </PubgTriggr.Properties.Settings>
    </userSettings>
</configuration>