<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="leptonica.net" version="1.74.4.14" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="numl" version="0.8.26.0" targetFramework="net461" />
  <package id="obs-websocket-dotnet" version="1.0.2-alpha" targetFramework="net461" />
  <package id="Tesseract" version="3.0.2.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
  <package id="Win32Interop.WinHandles" version="2.0.0" targetFramework="net461" />
</packages>